doctype html
html
    head
        link(rel="stylesheet", href="style.css")
    body 
        .container
            header
                h1 Discover new spaces
            main    
                .frame
                    .card
                        img.logo(src="svg/leaf.svg", alt="leaf")
                        h5  Zeroes and Ones
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/settings.svg", alt="settings")
                        h5  Sustainability
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/home.svg", alt="home")
                        h5  Home sweet home
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/cup.svg", alt="coffee")
                        h5  Zeroes and Ones
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/dart.svg", alt="dart")
                        h5  Zeroes and Ones
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/database.svg", alt="coffee")
                        h5  Zeroes and Ones
                        p All about software design, development, deployment and management
                        button.follow Follow
                    .card
                        img.logo(src="svg/music.svg", alt="dart")
                        h5  Zeroes and Ones
                        p All about software design, development, deployment and management
                        button.follow Follow
                    
            button.arrow__right >
            button.arrow__left <

            footer
                button.expand View more spaces
            
        script(src="main.js")